* {
    margin : 0;
    padding : 0;
}

body, html {
    background-image: url('../Assets/Fond\ Yakuza\ Kamurocho.jpg');
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone d'arrière-plan */
    background-position: center; /* Centre l'image par rapport à la zone d'arrière-plan */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;   
}

.menu_gauche {
    position: absolute;
    z-index: 2;
    height: 100%;
    z-index: 2;
}

.rectangle1 {
    position: relative;
    height: 100%;
    width: 20%;
    top: -110%;
}

.opacité {
    position: absolute;
    top: -1.5rem;
    height: 125%;
    width: 30%;
    background-color: black;
    position: relative;
    rotate: -7deg;
    background : linear-gradient(to right,black, black, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
}

.forum {
    position: absolute;
    z-index: 4;
    color: white;
    top: 2.8rem;
    left: 6rem;
    font-size: 4.5rem;
    background-color: transparent;
    border: none;
    cursor:pointer;
    background: linear-gradient(to bottom, #ffffff,#ffffff, #E5AF05,#E5AF05);
    -webkit-background-clip: text; /* Clip the text for the gradient */
    -moz-background-clip: text; /* Firefox */
    background-clip: text; /* Standard syntax */
    -webkit-text-fill-color: transparent; /* Transparent text color */
}

.logo1 {
    position: absolute;
    z-index: 2;
    height: 4rem;
    top: 20%;
    left: 3.4%;
}

.topics{
    position: absolute;
    z-index: 2;
    color: white;
    top: 9.9rem;
    left: 9.8rem;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    cursor:pointer;
}

.logo2 {
    position: absolute;
    z-index: 2;
    height: 4rem;
    top: 31%;
    left: 4.5%;
}

.jeux{
    position: absolute;
    z-index: 2;
    color: white;
    top: 14.5rem;
    left: 10.7rem;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    cursor:pointer;
}

.logo3 {
    position: absolute;
    z-index: 2;
    height: 5rem;
    top: 40%;
    left: 4.8%;
}

.contact{
    position: absolute;
    z-index: 2;
    color: white;
    top: 19.5rem;
    left: 11rem;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    cursor:pointer;
}

.logo4 {
    position: absolute;
    z-index: 2;
    height: 5rem;
    top: 51%;
    left: 5.8%;
}

.a_propos{
    position: absolute;
    z-index: 2;
    color: white;
    top: 24.8rem;
    left: 11.8rem;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    cursor:pointer;
}

.ligne {
    position: absolute;
    top: -1rem;
    z-index: 2;
    height: 120%;
    width: 0.4%;
    background-color: #E5AF05;
    left: 10.5rem;
    rotate: -7deg;
}

.sujet_topic {
    position: absolute;
    z-index: 2;
    top: 0.6rem;
    height: 3rem;
    width: 32rem;
    right: 1.5rem;
    transform: skew(30deg); /* Inclinaison de 20 degrés */
    border: 5px solid #E5AF05;
    background-color: black;
}

.titre_topic {
    position: absolute;
    z-index: 4;
    color: #ffffff ;
    top: 1rem;
    right: 28rem;
}

.menu-deroulant {
    position: absolute;
    top: 50%;
    margin-left: 65rem;
    margin-top: -18rem;
    transform: translateY(-50%);
    width: 23%;
    display: none;
    background-color: #B8AB71;
    transform: skew(-15deg);
    flex-direction: column; /* Aligner les éléments en colonne */
    border-left: 2px solid rgb(0, 0, 0); /* Ajout du trait sur le côté gauche */
    border-right: 2px solid rgb(0, 0, 0); /* Ajout du trait sur le côté droit */
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.menu-deroulant::before,
.menu-deroulant::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
}

.menu-deroulant::before {
    left: 8px; /* Trait sur le côté gauche */
    width: 1.8px;
}

.menu-deroulant::after {
    right: 8px; /* Trait sur le côté droit */
    width: 1.8px;
}

@media only screen and (max-width: 768px) {
    .menu-deroulant {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Ajouter une ligne entre chaque option */
.menu-deroulant a {
    margin: 5px 0;
    padding: 10px;
    color: #fff;
    transform: skew(15deg);
    text-align: center;
    text-decoration: none;
    transition: border-bottom 0.3s;
}

/* Souligner les options au survol */
.menu-deroulant a:hover {
    transition: border-bottom 0.3s;
}

/* Réduire la longueur de la barre lors du survol */
.menu-deroulant a:hover::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background-color: #fff;
    margin: auto;
}

.menu-deroulant a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    margin: auto;
    transition: width 0.3s;
}

/* Augmenter la largeur de la barre lors du survol */
.menu-deroulant a:hover::after {
    width: 50%;
}
