* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-image: url('../Assets/Fond\ BOTW.jpg');
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone d'arrière-plan */
    background-position: center; /* Centre l'image par rapport à la zone d'arrière-plan */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Masquer la barre de défilement */
  }


  .menu_bouton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .menu-deroulant {
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
    width: 23%;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 10px 10px 5px gold;
  }
  
  /* Styles pour le menu déroulant de Topics */
  .Topics-menu-deroulant {
    position: absolute;
    top: 50%; /* Positionnement vertical au milieu */
    left: 73%; /* Ajustement de la position horizontale */
    transform: translate(-50%, -50%);
    width: 23%;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media only screen and (max-width: 768px) {
    .menu_bouton {
      flex-direction: column;
      align-items: center;
    }
    
    .menu-deroulant {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

/* Ajouter une ligne entre chaque option */
.menu-deroulant a {
  margin: 5px 0; /* Espacement entre les éléments de menu */
  padding: 10px; /* Ajoute un peu de marge intérieure aux éléments du menu */
  color: #fff; /* Couleur du texte */
  text-align: center; /* Centrer le texte horizontalement */
  text-decoration: none; /* Supprime le soulignement des liens */
  transition: border-bottom 0.3s; /* Transition douce pour le soulignement */
}

/* Souligner les options au survol */
.menu-deroulant a:hover {
  transition: border-bottom 0.3s; /* Transition douce pour le soulignement */
}

/* Réduire la longueur de la barre lors du survol */
.menu-deroulant a:hover::after {
  content: ""; /* Ajouter un contenu pseudo-élément */
  display: block; /* Afficher en tant que bloc */
  width: 50%; /* Réduire la largeur de la barre */
  height: 2px; /* Hauteur de la barre */
  background-color: #fff; /* Couleur de la barre */
  margin: auto; /* Centrer horizontalement */
}
.menu-deroulant a {
  margin: 5px 0; /* Espacement entre les éléments de menu */
}

/* Réduire la longueur de la barre lors du survol */
.menu-deroulant a::after {
  content: ""; /* Ajouter un contenu pseudo-élément */
  display: block; /* Afficher en tant que bloc */
  width: 0; /* Initialiser la largeur de la barre à zéro */
  height: 2px; /* Hauteur de la barre */
  background-color: #fff; /* Couleur de la barre */
  margin: auto; /* Centrer horizontalement */
  transition: width 0.3s; /* Ajouter une transition à la propriété width */
}

/* Augmenter la largeur de la barre lors du survol */
.menu-deroulant a:hover::after {
  width: 50%; /* Réduire la largeur de la barre */
}

.menu_bouton button {
  padding: 5px 10px; /* Ajustement de l'espace interne des boutons */
  margin: 0 60px; /* Augmente l'espace horizontal entre les boutons */
  color: #fff; /* Couleur du texte */
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond des boutons */
  cursor: pointer;
  border: none; /* Suppression de la bordure */
  border-radius: 5px; /* Arrondi des coins */
}


  .dégradé {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .header {
    display: flex;
    justify-content: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
    z-index: 2;
    opacity: 0.6;
    flex-grow: 0.02; /* Réduire la hauteur de la barre header */
    background-color: black;
  }

  .header button{
    display: flex;
    flex-direction: column;
    z-index: 2;
    font-size: 150%;
    flex-grow: 0.2;
    background-color:black
  }

  .header button.Forum {
    font-size: 280%; /* Augmenter la taille de police pour le bouton "Forum" */
}

.menu_bouton button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Nouvelle couleur au survol */
}

  .Forum {
    font-size: 250%;
  }

  .body {
    z-index: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    opacity: 0.1;
    flex-grow: 1;
    background-color:black;
  }

  .body button {
    background-color: black;
    z-index: 5;
    height: 100%;
    width: 100%;
  }

  .footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 3; /* Mettre la barre footer au-dessus de tout le contenu */
    opacity: 0.6;
    flex-grow: 0.14;
    background-color: black;
}

  .flex-item:nth-child(1) {
    opacity: 0.6;
    flex-grow: 0.2;
    background-color:black

  }
  
  .flex-item:nth-child(2) {
    opacity: 0.5;
    flex-grow: 1;
    background-color:black
  }
  
  .flex-item:nth-child(3) {
    opacity: 0.6;
    flex-grow: 0.14;
    background-color: black;
  }

.container2 {
    z-index: 1;
    position: absolute;
    padding: 2rem;
    height: 35rem;
    width: 30rem;
    right: -3rem;
    top: 4.5rem;
} 


.slider-wrapper {
  width: 100%; /* Ajustement de la largeur */
  height: 100%; /* Ajustement de la hauteur */
  overflow: hidden; /* Cacher le débordement */
  margin: 0 auto;
  position: relative; /* Modification de la position en absolue */
  top: 52%;
  right: 2%; /* Utilisation d'une valeur relative */
  transform: translateY(-50%);
}

.ichiban {
  max-width: 50%; /* Limite la largeur de l'image */
  width: 100%; /* Permet à la hauteur de s'ajuster proportionnellement à la largeur */
}

.menu_bouton button:hover {
  text-decoration: underline;
}

.body2{
  margin-left: 65rem;
  margin-top: 15rem;
  position: absolute;
  z-index: 1;

  display: grid;
  place-items: center;
}

.imgSlider {
  position: absolute;
  z-index: 1;
  width: 25rem;
  height: 25rem;
  background-size: 100% 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  animation: changeImage 15s linear infinite;
}

@keyframes changeImage {
  0% {
    background-image: url(../Assets/prodige_botw/Daruk.png);
  }  
  25% {
    background-image: url(../Assets/prodige_botw/Revali.png);
  }  
  50% {
    background-image: url(../Assets/prodige_botw/urboasa2.png);
  }  
  75% {
    background-image: url(../Assets/prodige_botw/Mipha.png);
  }  
  100% {
    background-image: url(../Assets/prodige_botw/zelda2.png);
  }  
}

.discussion_titre{
  margin-top: 7rem;
  margin-left: 12rem;
  position: absolute;
  width: 25rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.text_discu {
  position: absolute;
  width: 39rem;
  height: 32rem;
  margin-top: 11rem;
  margin-left: 5rem;
  border-radius: 1.5rem 0rem 0rem 1.5rem;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: scroll;
  overflow-x: hidden;
}

.discussion_text-1 {
  position: relative  ;
  width: 15rem;
  height: auto;
  z-index: 1;
  z-index: 1;
  border-radius: 1.5rem;
  padding: 10px;
  background-color: green;
  margin-bottom: 1rem;
}
.discussion_text-1::before{
  position: absolute;
  content: '';
  right: 97%;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-right: 1rem solid green;
  border-bottom: 1rem solid transparent;
  rotate: -19.5deg;
}

.discussion_text-2 {
  position: absolute  ;
  width: 15rem;
  height: auto;
  z-index: 1;
  margin-top: auto;
  text-align: right;
  border-radius: 1.5rem;
  padding: 10px;
  right: 1rem;
  background-color: blue;

}
.discussion_text-2::before{
  position: absolute;
  content: '';
  left: 97%;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-left: 1rem solid blue;
  border-bottom: 1rem solid transparent;
  rotate: 19.5deg;
}


.send_bar {
  position: inherit;
  border: 2px solid white;
  padding: 10px;
  width: 92%;
  height: auto;
  border-radius: 1.5rem;
  bottom: 2rem;
}

.search-box {
  width: 26.91rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  outline: none;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  font-size: 16px;
}