* {
    margin: 0;
    padding: 0;
}

body, html {
    background-image: url('../Assets/Fond\ BOTW.jpg');
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la zone d'arrière-plan */
    background-position: center; /* Centre l'image par rapport à la zone d'arrière-plan */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Masquer la barre de défilement */
  }

  .menu_bouton {
    display: flex;
    justify-content: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
    height: 100%;
    max-width: 80%; /* Limite la largeur de la div */
}


.menu_bouton button {
  padding: 5px 10px; /* Ajustement de l'espace interne des boutons */
  margin: 0 60px; /* Augmente l'espace horizontal entre les boutons */
  color: #fff; /* Couleur du texte */
  background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond des boutons */
  cursor: pointer;
  border: none; /* Suppression de la bordure */
  border-radius: 5px; /* Arrondi des coins */
}

  .dégradé {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .header {
    display: flex;
    justify-content: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
    z-index: 2;
    opacity: 0.6;
    flex-grow: 0.1; /* Réduire la hauteur de la barre header */
    background-color: black;
  }

  .header button{
    display: flex;
    flex-direction: column;
    z-index: 2;
    font-size: 150%;
    flex-grow: 0.2;
    background-color:black
  }

  .header button.Forum {
    font-size: 280%; /* Augmenter la taille de police pour le bouton "Forum" */
}

.menu_bouton button:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Nouvelle couleur au survol */
}

  .Forum {
    font-size: 250%;
  }

  .body {
    display: flex;
    flex-direction: column;
    z-index: 1;
    opacity: 0.5;
    flex-grow: 1;
    background-color:black
  }

  .footer {
    display: flex;
    flex-direction: column;
    z-index: 3; /* Mettre la barre footer au-dessus de tout le contenu */
    opacity: 0.6;
    flex-grow: 0.14;
    background-color: black;
}

  .flex-item:nth-child(1) {
    opacity: 0.6;
    flex-grow: 0.2;
    background-color:black

  }
  
  .flex-item:nth-child(2) {
    opacity: 0.5;
    flex-grow: 1;
    background-color:black
  }
  
  .flex-item:nth-child(3) {
    opacity: 0.6;
    flex-grow: 0.14;
    background-color: black;
  }

.container {
    z-index: 1;
    position: absolute;
    padding: 2rem;
    height: 35rem;
    width: 30rem;
    right: 2rem;
    top: 3rem;
} 

.slider-wrapper {
  width: 100%; /* Ajustement de la largeur */
  height: 100%; /* Ajustement de la hauteur */
  overflow: hidden; /* Cacher le débordement */
  margin: 0 auto;
  position: relative; /* Modification de la position en absolue */
  top: 52%;
  right: 2%; /* Utilisation d'une valeur relative */
  transform: translateY(-50%);
}

.slider {
  display: flex;
  width: 100%; /* Ajustement de la largeur pour contenir toutes les images */
  height: 100%; /* Ajustement de la hauteur */
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  overflow: hidden; /* Cacher le débordement des images */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
  flex: 1 0 auto;
  width: 100%; /* Ajustement de la largeur */
  height: auto; /* Ajustement de la hauteur */
  overflow: hidden; /* Cacher le débordement */
  object-fit: cover;
  scroll-snap-align: start;
  margin-right: 1rem; /* Ajout de marges à droite pour séparer les éléments */
}

.slider img:last-child {
  margin-right: 29%; /* Aucune marge à droite pour le dernier élément */
}

.slider img:nth-child(3) {
  margin-right: 30%; /* Aucune marge à droite pour le dernier élément */
  margin-top: 2%;
}


.slider-nav {
  z-index: 5;
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.ichiban {
  max-width: 50%; /* Limite la largeur de l'image */
  width: 100%; /* Permet à la hauteur de s'ajuster proportionnellement à la largeur */
}

.menu_bouton button:hover {
  text-decoration: underline;
}


.slider-nav a {
  z-index: 2;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}
