* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #0c192c;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
    z-index: -100;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even)
{
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75
    0 0 100px #ff2d75;
}
@keyframes animate 
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}


.opaque{
    position: absolute;
    height: 6rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.474);
    z-index: 1;
}

.forum{
    color: white;
    position: absolute;
    border: black 0.1px solid;
    width: 6rem;
    height: 2.2rem;
    z-index: 1;
    margin-top: -44rem;
    margin-left: 48%;
    text-decoration: none;
}

/* MenuButton underline */

.ButtonMenu::before {
        content: '';
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        width: 0%;
        height: 0.3rem;
        background-color: rgb(212, 0, 255);
        transition: all .5s;
        border-radius: 0.5rem;
}

.ButtonMenu:hover::before{
        width: 100%;
}

/* Fin underline */


/* Début Menu bouton jeux */

.menuButtonJeux{
    position: absolute;
    border: red 5px solid;
    margin-top: -42rem;
    margin-left: 35%;
    z-index: 5;
    color: white;
    background: none;
    border: none;
    font-size: 20px;

}

.menuJeux {
    display: none;
    position: absolute;
}

.menuJeux.show {
    display: block;
}

.menu-buttons-jeux {
    z-index: 2;
    position: relative; /* Change to relative */
    text-align: center;
    border: none;
    margin-top: -37rem;
    margin-left: 29rem;
    width: 10rem;
}

.menu-buttons-jeux::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    filter: blur(10px);
    z-index: -1; /* Place the pseudo-element behind the text */
}

.menuJeux button {
    display: inline-block;
    border: none;
    background: none;
    color: white;
    margin: 8px;
    padding: 10px;
    cursor: pointer;
}

/* Fin Menu Jeux */

/* Début Menu Topics */

.menuButtonTopics{
    position: absolute;
    border: red 5px solid;
    margin-top: -42rem;
    margin-left: 15%;
    z-index: 1;
    color: white;
    background: none;
    border: none;
    font-size: 20px;

}

.menuTopics {
    display: none;
    position: absolute;
}

.menuTopics.show {
    display: block;
}

.menu-buttons-topics {
    position: relative; /* Change to relative */
    text-align: center;
    border: none;
    margin-top: -37rem;
    margin-left: 11rem;
    width: 10rem;
}

.menu-buttons-topics::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: grey;
    filter: blur(10px);
    z-index: -1; /* Place the pseudo-element behind the text */
}

.menu-buttons-topics-text {
    position: relative; /* Add relative positioning to contain z-index */
    z-index: 1; /* Bring the text to the front */
    /* You can add styles to the text here if needed */
}

.menuTopics button {
    display: inline-block;
    border: none;
    background: none;
    color: white;
    margin: 8px;
    padding: 10px;
    cursor: pointer;
}

/* Fin Menu Jeux */


.a-propos {
    z-index: 1;
    position: absolute;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    margin-top: -42rem;
    margin-left: 80%;
    font-size: 20px;
}

.contact {
    z-index: 1;
    position: absolute;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    margin-top: -42rem;
    margin-left: 65%;
    font-size: 20px;
}

.profil{
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    margin-top: -43.5rem;
    margin-left: 93%;
    z-index: 1;
    border: 5px solid rebeccapurple;
}

.container2 {
    z-index: 1;
    position: absolute;
    padding: 2rem;
    height: 35rem;
    width: 30rem;
    right: -3rem;
    top: 4.5rem;
} 


.slider-wrapper {
  width: 100%; /* Ajustement de la largeur */
  height: 100%; /* Ajustement de la hauteur */
  overflow: hidden; /* Cacher le débordement */
  margin: 0 auto;
  position: relative; /* Modification de la position en absolue */
  top: 57%;
  right: 2%; /* Utilisation d'une valeur relative */
  transform: translateY(-50%);
}

.slider {
  display: flex;
  width: 100%; /* Ajustement de la largeur pour contenir toutes les images */
  height: 100%; /* Ajustement de la hauteur */
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  overflow: hidden; /* Cacher le débordement des images */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
  flex: 1 0 auto;
  width: 100%; /* Ajustement de la largeur */
  height: auto; /* Ajustement de la hauteur */
  overflow: hidden; /* Cacher le débordement */
  object-fit: cover;
  scroll-snap-align: start;
  margin-right: 1rem; /* Ajout de marges à droite pour séparer les éléments */
}

.slider img:last-child {
  margin-right: 30%; /* Aucune marge à droite pour le dernier élément */
}

.slider img:nth-child(3) {
  margin-right: 1%; /* Aucune marge à droite pour le dernier élément */
  margin-top: 8%;
  overflow: hidden;
}


.slider-nav {
  z-index: 5;
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.ichiban {
  max-width: 50%; /* Limite la largeur de l'image */
  width: 100%; /* Permet à la hauteur de s'ajuster proportionnellement à la largeur */
}

.menu_bouton button:hover {
  text-decoration: underline;
}

.slider-text {
    color: wheat;
}

.slider-wrapper::before {
    content: var(--slide-text, "Texte par défaut");
    white-space: pre-wrap;
    color: #ffffff;
    position: absolute;
    border-left: 10px solid rgb(0, 98, 255);
    top: 60%;
    left: 5%; /* Déplace le texte vers la droite */
    width: 100%; /* Ajustement de la largeur */
    height: 20%; /* Ajustement de la hauteur */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: flex;
    font-size: 35px;
    font-family: 'Jost', sans-serif; /* Utilisation de la police Jost comme première option, avec la famille de polices de secours sans-serif */
}

.slider-text {
    font-size: 1.5rem; /* Ajustez la taille du texte selon vos besoins */
    margin-left: auto; /* Alignez le texte sur la droite */
    padding-right: 2rem; /* Ajoutez un peu d'espace à droite du texte */
}

.slider-nav a {
  z-index: 2;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}