* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../Assets/Fond\ the\ Witcher.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    color: white;
    font-family: Arial, sans-serif;
}

.rectangle_menu{
    position: absolute;
    display: flex;
    height: 100%;
    width: 20rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.350), rgba(0,0,0,1),rgba(0, 0, 0, 1));
    margin-left: 7rem;
}

.forum-button{
    z-index: 1;
    position: absolute;
    background: none;
    width: 7rem;
    height: 5rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: 6.5rem;
    list-style: none;
    text-decoration: none;
    color: white;
    border: none;
}

.rectangle_menu .logo_witcher{
    position: absolute;
    width: 20rem;
    height: 17rem;
    margin-top: 1rem;
    z-index: 0;
    margin-left: rem;
}

.topics-button {
    position: absolute;
    color: white;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    margin-top: 15rem;
    margin-left: 6.5rem;
    font-size: 30px;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid white;
    margin-left: 0.5rem;
    margin-top: 0.7rem;
}

.topics-menu {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    height: 20rem;
    width: 30rem;
    margin-top: 15rem;
    margin-left: 22rem;
    padding: 10px;
    color: white;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    filter: blur(10px);
}

.topics-text {
    display: none;
    position: absolute;
    width: 30rem;
    top: 16rem;
    left: 22rem;
    color: white;
    text-align: center;
}

.menu-button {
    position: absolute;
    color: white;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    font-size: 30px;
}

.menu-button:hover {
    text-decoration: underline;
}

.menu-button .triangle {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid white;
    margin-left: 0.5rem;
    margin-top: 0.7rem;
    transition: transform 0.3s ease; /* Ajout de l'animation de transition */
}

.jeux-menu {
    display: none;
    position: absolute;
    height: 20rem;
    width: 20rem;
    margin-top: 20rem;
    margin-left: 22rem;
    padding: 10px;
    color: white;
}

.jeux-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    filter: blur(10px);
    z-index: -1; /* Pour placer le pseudo-élément derrière le contenu textuel */
}

.jeux-button {
    position: absolute;
    color: white;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    margin-top: 20rem;
    margin-left: 7rem;
    font-size: 30px;
}

.Jeux-text {
    display: none;
    position: absolute;
    width: 20rem;
    top: 20.2rem;
    left: 22.4rem;
    color: white;
    text-align: center;
}

/* Styles pour les boutons à l'intérieur du menu */
.jeux-menu {
    display: none;
    position: absolute;
    height: 20rem;
    width: 20rem;
    margin-top: 20rem;
    margin-left: 22rem;
    padding: 10px;
    color: white;
}

.jeux-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    filter: blur(10px);
    z-index: -1;
}

.jeux-menu-buttons {
    display: flex;
    flex-direction: column;
}

.jeux-menu button {
    margin-top: 2.2rem;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: left;
}

.jeux-menu button:hover {
    text-decoration: underline;
}



.contact {
    position: absolute;
    color: white;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    margin-top: 25rem;
    margin-left: 6rem;
    font-size: 30px;
}

.a-propos {
    position: absolute;
    color: white;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    margin-top: 30rem;
    margin-left: 6rem;
    font-size: 30px;
}